.DS_Store
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.venv/
venv/
build/
dist/
*.egg-info/
*.png
explore_images/*
cluster_images/*
fit_images/*
!explore_images/.gitkeep
!cluster_images/.gitkeep
!fit_images/.gitkeep
